<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
     @* @await Html.PartialAsync("_navbar")
     @await Html.PartialAsync("_header") *@
     <partial name="_navbar">
    <partial name="_header">
    <p>@ViewBag.Greeting, @ViewBag.Username, nas覺ls覺n覺z ?</p>
    <p>Umar覺m iyisinizdir.</p>
</body>

</html>
