<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop Phone</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos ducimus placeat amet! Exercitationem distinctio, fuga voluptatum sunt omnis expedita accusantium nam cum architecto animi quasi voluptate, sed adipisci odit veniam?</p>

            </div>
        </div>
    </header>