 
 @model Product
 <div class="card">
                        <img class="card-img-top" src="https://reimg-teknosa-cloud-prod.mncdn.com/mnresize/600/600/productimage/125076140/125076140_2_MC/8799773851698_1557380553106.jpg" alt="">
                        <div class="card-body"></div>
                            <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text">@Model.Description</p>
                            <a class="btn btn-primary">İncele</a>
                    </div>